[Unit]
Description=Clippo Daemon
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/clippo
ExecStart=%h/.local/share/clippo/bin/clippo_daemon
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
